{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Active Listings</h2>
    
    
        <ul>
            {% if message %}{{ message }} {% endif %}
            {% for list in listing %}
                <li><a href="{% url 'listing' list.id %}">{{ list.title }}.</a> Current bid is ${{ list.bids.latest }}</li>
                <span>{{ list.description }}</span>
                {% if list.image %} <br>
                <img src="{{ list.image }}" width="200" height="200">
                {% endif%}
            {% endfor %}
        </ul>
{% endblock %}