{% extends "auctions/layout.html" %}

{% block title %}
    Listing Information
{% endblock %}

{% block body %}
    
    <h3>{{ listing.title }}</h3> <p>in <a href="{% url 'category' listing.category %}">{{ listing.category}}</a> </p>
        {% if listing.image %}
            <img src="{{ listing.image }}" width="200" height="200">
        {% endif %}

    {% if listing.user == request.user and not end %}
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        <input type="submit" name="endauction" value="End Auction">
    </form>
    {% endif %}

    {% if end and listing.bids.latest.user == request.user %}
        <strong>You have won this auction!</strong><br>
    {% endif %}
    
    {% if end %}{{ end }}{% endif %}
    <div id="info">
        <br>
        <span><strong>Description: </strong>{{ listing.description }}</span> 
        <br> 
        {% if not end %}
            {% if not listing.bids.latest.bid %}
                <span>There are no bids yet.</span>
            {% else %}
                <span>The current bid is ${{ listing.bids.latest.bid }} made by {{ listing.bids.latest.user }}.</span>
                <br>
                <span>There have been {{ listing.bids.all.count }} bids.</span>
            {% endif %}    

        {% else %}
        <span>{{ listing.bids.latest.user }} won the auction with a bid of ${{ listing.bids.latest.bid }}</span>
        <br>
        <span>There were {{ listing.bids.all.count }} bids.</span>
        {% endif %}
    </div>    

    <div id="comments">
        <br>
        <h4>Comments:</h4>
        <ul>
            {% if not comments %}
            There are no comments yet.
            {% endif %}
            {% for comment in comments%}
            <li>{{ comment.text | safe }} By <i>{{ comment.user }}</i></li>
            {% endfor %}
        </ul>
    </div>
    {% if message %}{{ message }}{% endif %}
    {% if not end %}
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit" name="bidtry" value=Submit>
    </form>
    {% endif %}
    
    {% if not end %}
    <br>
    {% if commentmessage %}{{ commentmessage }}{% endif %}
    <form action="{% url 'listing' listing.id %}" method="post">
        {% csrf_token %}
        {{ commentform }}
        <input type="submit" name="comment" value=Comment>
    </form>
    {% endif %}

{% if not watch %}
<form action="{% url 'watchlist' listing.id %}" method="post">
    {% csrf_token %}
    <input type="submit" name="watchlistform" value="Add to Watchlist">
</form>
{% else %}
<form action="{% url 'watchlist' listing.id %}" method="post">
    {% csrf_token %}
    <input type="submit" name="remove" value="Remove from Watchlist">
</form>
{% endif %}
{% endblock %}